# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.jar
*.class
*.lst

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# MacOS
.DS_Store

# Binaries
bin/
dist/

cmd/kubehound
deployments/kubehound/data
deployments/kubehound/data/*
# System test json files
test/**/*.json

# kind config
test/setup/.kube

# binary for the autogen of fixtures
test/system/generator/generator
*.env
*.kube-config
scripts/collectors/

# java
deployments/kubehound/janusgraph/dsl/kubehound/target