version: "3.7"
name: kubehound-testing
services:
  mongodb:
    image: mongo:6.0.6
    restart: unless-stopped
    container_name: ${COMPOSE_PROJECT_NAME}-storedb
    ports:
      - "127.0.0.1:27017:27017"
    networks:
      - kubenet
    depends_on:
      janusgraph:
        condition: service_healthy

  janusgraph:
    build: ./janusgraph/
    restart: unless-stopped
    container_name: ${COMPOSE_PROJECT_NAME}-graphdb
    ports:
      - "127.0.0.1:8182:8182"
    networks:
      - kubenet
    environment:
      # Enforce strict schema constrains as per https://docs.janusgraph.org/configs/configuration-reference/#schema
      - janusgraph.schema.constraints=true
      - janusgraph.schema.default=none
      # Bump content length of web-socket buffer to enable bulk insert queries
      - gremlinserver.maxContentLength=2097152
      # Bump evaluation timeout to support our large datasets
      - gremlinserver.evaluationTimeout=60000
    healthcheck:
      # Healthcheck parameters optimized to ensure fast system tests. DO NOT USE IN PRODUCTION!
      test: ["CMD", "/opt/janusgraph/bin/gremlin.sh", "-e", "/opt/janusgraph/scripts/health-check.groovy"]
      interval: 15s
      timeout: 30s
      retries: 5
      start_period: 15s

  notebook:
    build: ./notebook/
    restart: unless-stopped
    container_name: ${COMPOSE_PROJECT_NAME}-notebook
    ports:
      - "127.0.0.1:8888:8888"
    networks:
      - kubenet
    volumes:
      - ./notebook/shared:/root/notebooks/shared

networks:
  kubenet: