version: "3.8"
name: kubehound-dev
services:
  mongodb:
    volumes:
      - mongodb_data:/data/db

  janusgraph:
    volumes:
      - janusgraph_data:/data

  mongo-express:
    image: mongo-express:0.54.0
    restart: unless-stopped
    depends_on:
      - mongodb
    ports:
      - "127.0.0.1:8081:8081"
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://mongodb:27017/
  
  kubehound:
    container_name: ${COMPOSE_PROJECT_NAME}-core
    restart: unless-stopped
    build:
      context: ../../
      dockerfile: Dockerfile
    environment:
      - KUBECONFIG=/tmp/.kube/config
    volumes:
      - ./.kube-config:/tmp/.kube/config
    networks:
      - kubenet
      - kind

  notebook:
    build: ./notebook/
    restart: unless-stopped
    container_name: ${COMPOSE_PROJECT_NAME}-notebook
    ports:
      - "127.0.0.1:8888:8888"
    networks:
      - kubenet
    volumes:
      - ./notebook/shared:/root/notebooks/shared

volumes:
  mongodb_data:
  janusgraph_data:

networks:
  kind:
    external: true